<html>
	<head>HANGMAN</head>
	<body>
		<p> <%= hint %></p>
		<p>
			<% if hint == word %>
				You win!
			<% elsif rounds_remaining == 0 %>
				You lose. The word was <%= word %>
			<% else %>
				You have <%= rounds_remaining %> rounds left
			<% end %>
		</p>
		<form method='POST' action='/'> <!-- This send POST version of localhost:4567 with params stored in URL -->
		  <input type='text' name='guess' />
		  <input type='submit' value='Guess!' />
		</form>
		<form method='GET' action='/'> <!-- This returns user to GET version of localhost:4567/ -->
			<input type='submit' value ='New word'>
		</form>
		<p>Used letters: <%= guessed_letters_string %> </p>
	</body>
</html>